/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Fondo negro inicial */
}

/* Fondo dinámico */
#imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Oculto inicialmente */
  background-size: cover;
  background-position: center;
}

/* Mensaje inicial */
#message {
  color: white;
  z-index: 1;
  text-align: center;
}

       